<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cuadrática</title>

    <!-- 👇 ESTO ES LO IMPORTANTE (static bien conectado) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h2>Cuadrática ax² + bx + c</h2>

        <form method="POST">
            <input name="a" placeholder="a" required>
            <input name="b" placeholder="b" required>
            <input name="c" placeholder="c" required>

            <button type="submit">Calcular</button>
        </form>

        <a href="/">Volver</a>

    </div>

</body>
</html>
