<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ecuación Cuadrática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>Math App</h2>

    <a href="/">🏠 Inicio</a>
    <a href="/lineal">📈 Lineal</a>
    <a href="/cuadratica">📉 Cuadrática</a>
    <a href="/sistema2x2">🔢 2x2</a>
    <a href="/sistema3x3">📊 3x3</a>

</div>

<div class="main">

    <div class="card">

        <h2>Ecuación Cuadrática</h2>

        
::contentReference[oaicite:1]{index=1}


        <form method="POST">

            <input type="number" step="any" name="a"
            placeholder="Coeficiente a | Ejemplo: 1" required>

            <input type="number" step="any" name="b"
            placeholder="Coeficiente b | Ejemplo: -3" required>

            <input type="number" step="any" name="c"
            placeholder="Coeficiente c | Ejemplo: 2" required>

            <div class="botones">

                <button type="submit">Calcular</button>

                <button type="reset">Limpiar</button>

            </div>

        </form>

        <a class="btn-volver" href="/">Volver</a>

    </div>

    <div class="card">

        <h3>Interpretación</h3>

        <p>
            Una ecuación cuadrática genera una parábola.
            Las soluciones representan los puntos donde
            la parábola intersecta el eje X.
        </p>

    </div>

</div>

</body>
</html>
