<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Math App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">

    <h2>Math App</h2>

    <a href="/">🏠 Inicio</a>
    <a href="/lineal">📈 Ecuación Lineal</a>
    <a href="/cuadratica">📉 Ecuación Cuadrática</a>
    <a href="/sistema2x2">🔢 Sistema 2x2</a>
    <a href="/sistema3x3">📊 Sistema 3x3</a>

</div>

<div class="main">

    <div class="card">

        <h1>Bienvenido 👋</h1>

        <p class="descripcion">
            Plataforma matemática interactiva diseñada para resolver
            ecuaciones lineales, cuadráticas y sistemas de ecuaciones
            2x2 y 3x3.
        </p>

        <p class="descripcion">
            El sistema calcula automáticamente las soluciones,
            genera gráficas e interpreta los resultados.
        </p>

        <h3>Desarrollado por:</h3>
        <p><b>MIA GUZMAN MOSQUEDA</b></p>

    </div>

    <div class="card">

        <h2>¿Qué puedes hacer?</h2>

        <ul>
            <li>Resolver ecuaciones lineales.</li>
            <li>Encontrar raíces cuadráticas.</li>
            <li>Resolver sistemas 2x2.</li>
            <li>Resolver sistemas 3x3.</li>
            <li>Visualizar gráficas automáticas.</li>
        </ul>

    </div>

</div>

</body>
</html>
