<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
    <h2>Ecuaciones</h2>
    <a href="/lineal">Lineal</a>
    <a href="/cuadratica">Cuadrática</a>
    <a href="/sistema2x2">Sistema 2x2</a>
    <a href="/sistema3x3">Sistema 3x3</a>
</div>

<div class="main">

    <div class="card">
        <h1>Bienvenido al Sistema de Ecuaciones</h1>
        <p>Desarrollado por MIA GUZMAN MOSQUEDA</p>
        <p>Selecciona una ecuación en el menú lateral para comenzar.</p>
    </div>

</div>

</body>
</html>
