<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
    <h2>Math App</h2>
    <a href="/">Inicio</a>
    <a href="/lineal">Lineal</a>
    <a href="/cuadratica">Cuadrática</a>
    <a href="/sistema2x2">2x2</a>
    <a href="/sistema3x3">3x3</a>
</div>

<div class="main">

    <div class="card">
        <h2>Ecuación Lineal</h2>

        <form method="POST">
            <input name="a" placeholder="Coeficiente a">
            <input name="b" placeholder="Coeficiente b">
            <button type="submit">Calcular</button>
        </form>
    </div>

</div>

</body>
</html>
</html>
