<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
    <h2>Ecuaciones</h2>
    <a href="/lineal">Lineal</a>
    <a href="/cuadratica">Cuadrática</a>
    <a href="/sistema2x2">Sistema 2x2</a>
    <a href="/sistema3x3">Sistema 3x3</a>
    <a href="/">Inicio</a>
</div>

<div class="main">

    <div class="card">
        <h2>Ecuación Lineal (ax + b = 0)</h2>

        <form method="POST">
            <input name="a" placeholder="Coeficiente a (ej: 2)">
            <input name="b" placeholder="Coeficiente b (ej: -4)">

            <button type="submit">Calcular</button>
        </form>
    </div>

</div>

</body>
</html>
