<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
    <h2>Ecuaciones</h2>
    <a href="/lineal">Lineal</a>
    <a href="/cuadratica">Cuadrática</a>
    <a href="/sistema2x2">Sistema 2x2</a>
    <a href="/sistema3x3">Sistema 3x3</a>
    <a href="/">Inicio</a>
</div>

<div class="main">

    <div class="card">
        <h2>{{titulo}}</h2>
        <h3>Resultado:</h3>
        <p style="font-size:20px;">{{resultado}}</p>
    </div>

    <div class="card">
        <h3>Interpretación</h3>
        <p>{{explicacion}}</p>
    </div>

    {% if imagen %}
    <div class="card">
        <h3>Gráfica</h3>
        <img src="data:image/png;base64,{{imagen}}">
    </div>
    {% endif %}

</div>

</body>
</html>
