<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">
    <h2>Math App</h2>
    <a href="/">Inicio</a>
    <a href="/lineal">Lineal</a>
    <a href="/cuadratica">Cuadrática</a>
    <a href="/sistema2x2">2x2</a>
    <a href="/sistema3x3">3x3</a>
</div>

<div class="main">

    <div class="card">
        <h2>{{titulo}}</h2>
        <p style="font-size:20px;"><b>{{resultado}}</b></p>
    </div>

    <div class="card">
        <h3>Interpretación</h3>
        <p>{{explicacion}}</p>
    </div>

    {% if imagen %}
    <div class="card">
        <h3>Gráfica</h3>
        <img src="data:image/png;base64,{{imagen}}">
    </div>
    {% endif %}

</div>

</body>
</html>
