<!DOCTYPE html>
<html>
<head>
    <title>Sistema 3x3</title>
</head>
<body>

<h2>Sistema 3x3</h2>

<form method="POST">

    <h3>Ecuación 1</h3>
    a1: <input name="a1">
    b1: <input name="b1">
    c1: <input name="c1">
    d1: <input name="d1">

    <h3>Ecuación 2</h3>
    a2: <input name="a2">
    b2: <input name="b2">
    c2: <input name="c2">
    d2: <input name="d2">

    <h3>Ecuación 3</h3>
    a3: <input name="a3">
    b3: <input name="b3">
    c3: <input name="c3">
    d3: <input name="d3">

    <br><br>
    <button type="submit">Resolver</button>
</form>

<a href="/">Volver</a>

</body>
</html>
