<!DOCTYPE html>
<html>
<head>
    <title>Sistema 2x2</title>
</head>
<body>

<h2>Sistema 2x2</h2>

<form method="POST">

    <label>Forma de ingresar:</label>
    <select name="tipo">
        <option value="coef">Por coeficientes</option>
    </select>

    <h3>Ecuación 1</h3>
    a1: <input name="a1">
    b1: <input name="b1">
    c1: <input name="c1">

    <h3>Ecuación 2</h3>
    a2: <input name="a2">
    b2: <input name="b2">
    c2: <input name="c2">

    <br><br>
    <button type="submit">Resolver</button>
</form>

<a href="/">Volver</a>

</body>
</html>
